<!DOCTYPE html>
<html>
<head>
  <title>Star Rating Form</title>
  <link rel="stylesheet" type="text/css" href="../static/ride_rating.css">
</head>
<body>
  <form>
    <div class="stars">
      <input type="radio" id="star1" name="rating" value="1" checked>
      <label for="star1"></label>
      <input type="radio" id="star2" name="rating" value="2">
      <label for="star2"></label>
      <input type="radio" id="star3" name="rating" value="3">
      <label for="star3"></label>
      <input type="radio" id="star4" name="rating" value="4">
      <label for="star4"></label>
      <input type="radio" id="star5" name="rating" value="5">
      <label for="star5"></label>
    </div>
    <input type="submit" value="Submit" onclick="get_rating()">
    <script src="../static/ride_rating.js"></script>
  </form>
</body>
</html>
